<section class="hero-section">
    <h1>Istoria Biserici Adventiste Maranatha Bucuresti</h1>
</section>

<style>
    .hero-section{
        background: linear-gradient(45deg, rgba(60, 60, 60, 0.75), rgba(60, 60, 60, 0.75)), url('/public/banner.jpeg');
        background-position: center;
        width: 100%;
        min-height: 30vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hero-section h1{
        padding: 2rem;
        font-size: 2.5rem;
        font-style: italic;
        color: var(--color-primary-100);
        text-align: center;
    }
</style>