---
import NavLink from "./NavLink.astro";
const {currentPage} = Astro.props;
---

<style>
    .container{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }
</style>
<div class="container">
    <NavLink currentPage={currentPage} href="/">acasa</NavLink>
    <NavLink currentPage={currentPage} href="/about">despre noi</NavLink>
    <NavLink currentPage={currentPage} href="/anouncements">anunturi</NavLink>
</div>